body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/035/375/original/sky-blue-pink-1.jpg?1653598841);
  background-size: cover;
}
.body-wrap {
  padding-top: 40px;
  padding-bottom: 70px;
}
.search-tab {
  max-width: 700px;
  margin: 0 auto;
}
button.search-button,
button.current-button {
  background-color: rgba(166, 150, 200, 0.5);
}

div.card-box {
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 30px 30px 60px;
  margin: 0 auto;
  max-width: 700px;
  background-color: rgba(166, 150, 200, 0.5);
}
h1.main-city {
  font-size: 65px;
  font-weight: 100;
  color: white;
  margin-bottom: 0;
  text-transform: capitalize;
}
p.current-date {
  font-weight: lighter;
  font-size: 20px;
  color: white;
  margin-bottom: 0;
}
h2.current-temp {
  font-size: 70px;
  font-weight: 300;
  color: white;
}
#line {
  font-size: 30px;
}
#celcius-link:hover {
  color: #dca2d9;
}
#farenheit-link:hover {
  color: white;
}
#celcius-link {
  text-decoration: none;
  color: white;
  font-size: 40px;
}
#farenheit-link {
  text-decoration: none;
  color: #dca2d9;
  font-size: 40px;
}
#line {
  color: white;
  font-size: 40px;
}
h4.day-temp {
  font-weight: lighter;
  color: white;
}
#icon {
  width: 100px;
  margin-bottom: 60px;
  position: relative;
  left: 8px;
}
h3.icon-text {
  color: white;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.main-card {
  background-color: rgba(0, 0, 0, 0.5);
}
.forecast-info {
  font-weight: 300;
  font-style: oblique;
  color: white;
  margin-bottom: 24px;
}
.forecast {
  color: white;
  text-align: center;
}
.forecast-icons,
.forecast-temp {
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: lighter;
}

.footer {
  font-family: "PT Mono", monospace;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  padding-top: 55px;
}
#link-github {
  text-decoration: none;
  color: black;
}
#link-github:hover {
  color: white;
}
.footer-icons {
  text-align: center;
  font-size: 20px;
}

.inst-icon:hover,
.fb-icon:hover,
.lnk-icon:hover {
  color: #a696c8;
  cursor: pointer;
}
.inst-link,
.fb-link,
.lnk-link {
  text-decoration: none;
  color: black;
}
.inst-link {
  position: relative;
  right: 20px;
}
.lnk-link {
  position: relative;
  left: 20px;
}
